/*ESTILOS GLOBALES*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 15px sans-serif;
    color: white;
    
}

body{
    background-image: url(../img/el-lado-administrativo-del-medico-otra-fortaleza-para-el-profesional-de-la-salud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}


.container{
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
    
}

.cabecera{
    background-color: #112244;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
}

.menu{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(12, 12, 12, 0.158);
    
}

.titulo{
    margin-top: 120px;
}

.op1{
    margin: 30px;
    padding: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0,0.568);
    border-radius: 10%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.507);
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
}



.ima img{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.ima img:hover{
    -webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

.piedpa{
    background-color: #112244;
    display: grid;
    align-items: center;
    justify-items: end;
    padding-right: 10px;
}

.subcab2{
    display: grid;
    justify-items: end;
}