/*ESTILOS GLOBALES*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 15px sans-serif;
    color: white;
    
}

body{
    background-image: url(../img/el-lado-administrativo-del-medico-otra-fortaleza-para-el-profesional-de-la-salud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



.container{
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
}



.cabecera{
    background-color: #112244;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    
}

.menu{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    align-items: center;
    justify-items: center;
    
}
.menuP{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    align-items: center;
    justify-items: center;
    
}

.op{
    display: grid;
    grid-template-rows: 10% 90%;
    justify-items: center;
    align-items: center;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
}

.titulo{
    margin-bottom: 30px;
}

.ima img{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.ima img:hover{
    -webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

.piedpa{
    background-color: #112244;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    align-items: center;
    padding-right: 10px;
}

.subpie2{

    display: grid;
    justify-items: end;
}

